@charset "UTF-8";

/*
  em HTML é id = em CSS é # (só pode um elemento)
  em HTML é class = em CSS é . (pode vários elementos)

*/
body{
    background-image : linear-gradient(#837a84,#6a6679,#4a5065);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h1{
    color: #013231;
}
 h1#principal {
    text-align: center;
    background-color: #1F2024;
    color: wheat;
 }

h2{
    color: rgb(172, 57, 57);
}

.basico{
   color: rgb(128, 58, 58);
}
.intermediario{
   color: rgb(114, 34, 34);
}
.avancado{
    color: rgb(116, 47, 47);
}
.destaque{
    background-color: rgba(72, 158, 26, 0.604);
}